@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Nunito Sans', sans-serif;
}
body{
	background: #E0E4E5;
}
nav{
    display: flex;
    width: 100%;
    background: rgb(31, 31, 78);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 20px 30px;
    position: fixed;
}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 5px;
}
.bi-person-fill{
    color: #909292;
    font-size: 24px;
}
.bi-journal-album{
    color: #909292;
    font-size: 24px;
}
.bi-cart{
    color: #909292;
    font-size: 24px;
}
.bi-power{
    color: #909292;
    font-size: 24px;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: #d1cfcf;
    color: rgb(31, 31, 78);
}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}
nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span{
    color: rgb(31, 31, 78);
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search_box span:hover{
    color: #fff;
}
nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background-color: #ff003c;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
nav .search_box span:hover:after{
    width: 100%;
}
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}
input[type="checkbox"]{
    /* -webkit-appearance: none; */
    display: none;
}
@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input{
        width: 90%;
    }
    nav ol{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a{
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }
    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: block;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4){
        transform: translateX(0);
        opacity: 1;
    }
}

/* .tables-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  } */


.selec-product{
    list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
   
}
.selec-product li{
    display: flex;
    justify-content: space-between; /* Distribuye los elementos dentro del <li> */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 50px; /* Asegura que todos los items tengan la misma altura */
}

.selec-product li .titulo{
    flex: 1;
}

.selec-product li span{
    flex: 0;
}


.selec-product li .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.selec-product li > * {
    margin-right: 10px; /* Espacio entre los elementos dentro del <li> */
    flex: 1; /* Los elementos ocuparán el mismo espacio disponible */
  }
.selec-product li > span {
width: 30px; /* Define el ancho para el número de cantidad */
  text-align: center;
}
.selec-product  li > *:last-child {
    margin-right: 0; /* Elimina el margen en el último elemento */
}
.section-form{
    padding: 120px;
    display: flex;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 560px;
    margin-right: 20px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group select{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sumar{ 
  background-color: #28a745;  
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
.sumar:hover{
    background-color: #218838;
}
.restar{
    background-color: #dc3545;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
.restar:hover{
    background-color: #c82333;
}
.form-group input:focus {
    border-color: #66afe9;
    outline: none;
}
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.btn-submit:hover {
    background-color: #218838;
}
/* widht:100%
display:inline-block */
.table-container { 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px; 
}
.table-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.btn-delete {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.btn-delete:hover {
    background-color: #c82333;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.btn-print {
    padding: 5px 10px;
    background-color: #0a85eb;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.btn-print:hover {
    background-color: #077ddd;
}

.btn-edit {
    padding: 5px 10px;
    background-color: #ffc107;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.btn-edit:hover {
    background-color: #e0a800;
}
